:root {

    /* COLORES */
    --color-primary: #3c5b49;
    --color-secondary: #a4c0af;
    --color-third: #74a7b0;
}

body {
    margin: 0;
    min-height: 100vh;
    /* background: linear-gradient(110deg,
            #ffffff 0%,
            #c9c3c3 35%,
            #9c9fa2 70%,
            #7d8982 100%); */


    background: white;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}


/* este es el body lock */
body.is-nav-open {
    overflow: hidden;
}

p,
button,
a,
span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    color: black;
}

h1,
h2,
h3,
h4 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-weight: 300;
}

button {
    border-radius: 50px;
    background-color: var(--color-secondary);
    border: none;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}


a:focus-visible,
button:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0);
    outline-offset: 3px;
}


/* HEADER */

.site-header {
    width: 100%;


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition:
        background-color 0.3s ease,
        backdrop-filter 0.3s ease,
        -webkit-backdrop-filter 0.3s ease;

}

.site-header.is-scrolled {
    background-color: rgba(164, 192, 175, 0.409);
    /* #a4c0af */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid black;
}

.site-header__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 1.8rem 1.8rem; */

    padding-block: 1.8rem;
    padding-inline: 1.8rem;
    transition: padding-top 1.1s ease, padding-bottom 1.1s ease;

    min-height: 70px;
    position: relative;
}

.site-header.is-compact .site-header__inner {
    padding-block: 0.5rem;
}



.site-header__logo {
    height: 68px;
    position: relative;
    display: flex;
    align-items: center;
}

.site-header__logo-img-green {
    height: 68px;
    width: auto;
    margin-left: -0.5rem;
    transition:
        height 1.1s ease,
        opacity 1.1s ease;
    opacity: 1;
    position: absolute;
}

.site-header__logo-img-black {
    height: 68px;
    width: auto;
    margin-left: -0.5rem;
    transition:
        height 1.1s ease,
        opacity 1.1s ease;
    opacity: 0;
    position: absolute;
}

.site-header.is-compact .site-header__logo-img-green {
    height: 52px;
    opacity: 0;
}

.site-header.is-compact .site-header__logo-img-black {
    height: 52px;
    opacity: 1;
    display: block;
}




.site-header__toggle {
    display: none;
    position: relative;
    top: -0.5rem;
}

.site-nav {
    display: block;
    min-width: 0;
    position: relative;
    top: -0.75rem;

    transition: top 1.1s ease;
}

.site-nav__close {
    display: none;
}

.site-header.is-compact .site-nav {
    top: 0;
}

.site-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav__link {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    padding: 0.4rem 0 0.4rem 1rem;
}












/*   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   */

.hero {
    padding: 110px 1.8rem 0 1.8rem;
    margin-bottom: 1.5rem;

}

.hero__grid {
    width: 100%;

    margin-inline: auto;


    padding-top: 1.8rem;


    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.8rem;

    align-items: stretch;

    margin-bottom: 1rem;

}

.hero__left {
    /* columnas 1 a 6 (ocupa 6 columnas) */
    grid-column: 1 / span 6;

    display: flex;
    flex-direction: column;

    gap: 1.8rem;

    justify-content: space-between;

    height: auto;



}

.hero__texts-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* justify-content: space-between; */
    height: 100%;
    flex: 1;
}

.hero__left--photo-container {
    flex: 1;
}

.hero__left--photo {
    width: 100%;
    height: 100%;
}




.hero__right {
    /* columnas 7 a 12 (ocupa 6 columnas) */
    grid-column: 7 / span 6;
    display: flex;
    justify-content: end;
}

.hero__right--photo {
    width: 100%;
    height: 100%;
    display: block;
}

.hero__motto {
    margin-left: auto;
    font-size: clamp(1rem, 1.75vw, 2rem);
    text-align: right;
    flex: 1;
    padding-top: 1.8rem;
    white-space: nowrap;
}

.hero__presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.8rem;
    flex: 1;
}


.hero__CTA-button {
    margin-top: auto;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    white-space: nowrap;

    min-height: 3rem;
    padding: 1rem 2rem;
}

.hero__CTA-button--icon {
    height: 1em;
    width: auto;
}

.hero__insight--container {
    display: flex;
    flex-direction: row;
}

.hero__insight {
    font-size: clamp(1rem, 1.35vw, 2rem);
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    margin: 0;
}

.hero__insight--wrap {
    display: flex;
    flex-direction: column;
}

.hero_location {
    font-size: clamp(1rem, 1.1vw, 2rem);
    align-self: baseline;
    margin: 1rem 0 0 0;
}




/*   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   */

.about-us {
    width: 100%;
    margin-block: 1rem;
}

.about-us__grid {
    padding: 3rem 1.8rem 2rem 1.8rem;
    width: auto;
    margin-inline: 1.8rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(186, 186, 186);
    border-bottom: 1px solid rgb(186, 186, 186);
}

.about-us__paragraph {
    padding: 1rem 6rem;
    font-size: larger;
    text-align: center;

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.about-us__CTA-button {
    margin-inline: auto;
    padding-inline: 2rem;
    font-size: 1rem;
    background: transparent;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--color-secondary);
    white-space: nowrap;

    font-size: 1.25rem;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.about-us__button-CTA__icon {
    height: 1em;
    width: auto;
}


/* OUR SERVICES   ///   OUR SERVICES   ///   OUR SERVICES   ///   OUR SERVICES   ///   */


.our-services__main-grid {
    padding: 1rem 1.8rem;
}

.our-services__services-grid {
    list-style: none;
    padding: 0 0 1.8rem 0;
    margin: 3rem 0 1rem 0;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1.8rem;
    row-gap: 3rem;

    grid-auto-rows: 1fr;

    border-bottom: 1px solid rgb(186, 186, 186);
}

.our-services__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-width: 0;
}

.our-services__img-container {
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
}

.our-services__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.our-services__item-title {
    margin: 0;
}

.our-services__section-title {
    display: inline-flex;
}

.our-services__section-title--img {
    height: 0.8em;
    width: auto;
    align-self: center;
    margin-right: 1rem;
}







/*  WHY-PERMA   ///   WHY-PERMA   ///   WHY-PERMA   ///   WHY-PERMA   ///   WHY-PERMA   */

.why-perma__section-title {
    display: inline-flex;
}

.why-perma__section-title--img {
    height: 0.8em;
    width: auto;
    align-self: center;
    margin-right: 1rem;
}

.why-perma__main-grid {
    padding-inline: 1.8rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.why-perma__reasons-grid {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    overflow-x: scroll;
}

.why-perma__reason-item {
    border-right: 1px solid rgb(186, 186, 186);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.5rem 0;
}

.why-perma__reason-title {
    white-space: nowrap;
    font-size: smaller;
}

.why-perma__reason-icon {
    height: 5rem;
}

.why-perma__text-container {
    display: flex;
    justify-content: flex-end;
}

.why-perma__text {
    text-align: right;
    display: block;
    /* para asegurar comportamiento de bloque */

    font-size: clamp(2rem, 4vw, 3.2rem);
    line-height: 1.1;

    max-width: 30ch;

    font-weight: 400;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.why-perma__values-list--container {
    padding: 0.5rem 3rem;
}

.why-perma__values-list {
    padding: 0 4.8rem;
    font-size: small;
}

.why-perma__CTA-button {
    margin-inline: auto;
    padding-inline: 2rem;
    font-size: 1rem;
    background: transparent;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--color-secondary);
    white-space: nowrap;

    font-size: 1.25rem;

    display: inline-flex;
    align-self: center;
    gap: 0.5rem;

    align-items: center;
}

.why-perma__CTA-button--img {
    height: 1em;
    width: auto;
}




/* FOOTER   ///   FOOTER   ///   FOOTER   ///   FOOTER   ///   FOOTER   ///   FOOTER   */

.site-footer {
    background-color: #a4c0af41;
}


.site-footer__inner {
    margin-inline: auto;
    gap: 2rem;
    padding: 2rem 7.8rem 2rem;
}

.site-footer__link {
    color: inherit;
    text-decoration: none;
}

.site-footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.site-footer__col--right {
    text-align: right;
}


.site-footer__bottom {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
}

.site-footer__social {
    /* height: 2rem; */
}

.site-footer__social-img {
    height: 2rem;
}




/* Tablet */
@media (max-width: 1024px) {
    /* acá aceptás cambios estructurales */
}




@media (max-width: 768px) {

    :root {
        --header-h: 105px;
        --hero-min-h: 600px;
        --hero-pb: 24px;
    }

    h2 {
        font-size: large;
    }


    /* LOGO   ///   LOGO   ///   LOGO   ///   LOGO   ///   */


    .site-header__logo {
        height: 52px;
        position: relative;
        display: flex;
        align-items: center;
    }

    .site-header__logo-img-green {
        height: 52px;
        width: auto;
        margin-left: -0.5rem;
        transition:
            height 1.1s ease,
            opacity 1.1s ease;
        opacity: 1;
        position: absolute;
    }

    .site-header__logo-img-black {
        height: 52px;
        width: auto;
        margin-left: -0.5rem;
        transition:
            height 1.1s ease,
            opacity 1.1s ease;
        opacity: 0;
        position: absolute;
    }

    .site-header.is-compact .site-header__logo-img-green {
        height: 52px;
        opacity: 0;
    }

    .site-header.is-compact .site-header__logo-img-black {
        height: 52px;
        opacity: 1;
        display: block;
    }



    /* TOGGLE ///   TOGGLE ///   TOGGLE ///   TOGGLE ///   TOGGLE ///   */


    .site-header__toggle {
        display: block;
        background-color: transparent;
        padding-inline: 0;
    }

    .site-header.is-scrolled .site-header__toggle {
        top: 0;
    }

    .site-header__toggle-icon-container {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-header__toggle-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .site-nav {
        position: fixed;
        z-index: 200;
        padding: 1rem 1rem;

        left: 0;
        right: 0;
        top: 100%;

        background: rgba(255, 255, 255, 0.92);
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 220ms ease, visibility 0s linear 220ms;

        overflow: auto;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;

    }

    body.is-nav-open .site-nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 220ms ease;

        touch-action: pan-y;

        background-color: white;
        /* casi transparente */
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    body.is-nav-open .site-header {
        background-color: rgba(164, 192, 175, 0.409);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    .site-header.is-compact .site-nav {
        top: 100%;
    }

    body.is-nav-open {
        touch-action: none;
    }

    body.is-nav-open main,
    body.is-nav-open footer {
        filter: blur(10px);
        transition: filter 220ms ease;
    }

    .site-nav__close {
        display: inline-flex;
    }

    .site-nav__panel {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        transform: translateY(14px);
        opacity: 0;

        transition: transform 260ms ease, opacity 180ms ease;
    }

    body.is-nav-open .site-nav__panel {
        transform: translateY(0);
        opacity: 1;
    }

    body.is-nav-open .site-header__toggle {
        /* ejemplo: */
        background: transparent;
    }

    /* Botón cerrar */
    .site-nav__close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 999px;
        padding: 0.6rem 1rem;
        font: inherit;
    }

    /* Lista vertical */
    .site-nav__list {
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
    }

    /* Links grandes, táctiles */
    .site-nav__link {
        padding: 0.6rem 0;
        font-size: 1.6rem;
        letter-spacing: 0.02em;
    }

    /* por si quedó el top:-0.6rem en desktop */

    .site-header__inner {
        padding: 0.8rem 1rem;
    }

    .hero__presentation {
        flex-direction: column;
        gap: 1.5rem;
    }

    .hero__insight {
        display: none;
    }






    /* HERO SECTION   ///   HERO SECTION   ///   HERO SECTION   ///   HERO SECTION   ///   */

    .hero__grid {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }

    .hero {
        padding-inline: 1rem;
        padding-top: 93px;
        margin-bottom: 0;
    }

    .hero__left {
        gap: 1rem;
        display: block;
    }

    .hero__motto {
        padding-top: 0;
        font-size: clamp(1.1rem, 5vw, 3.2rem);
        text-align: left;
        margin-left: 0;
        margin-right: auto;
    }

    .hero_location {
        margin-top: 0;
    }

    .hero__left--photo-container {
        line-height: 0;
    }

    .hero__left--photo {
        display: none;
    }

    .hero__texts-grid {
        gap: 1rem;
    }

    .hero__CTA-button {
        width: auto;
        align-self: flex-end;
    }

    .hero__right--photo-container {
        width: 100%;
        height: 450px;
        overflow: hidden;
    }

    .hero__right--photo {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center top;
    }



    /* ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   */

    .about-us__grid {
        padding-block: 1rem;
        padding-inline: 0;
        margin-inline: 1rem;
    }

    .about-us__paragraph {
        padding: 1rem 0;
    }

    .about-us__CTA-button {
        width: 60vw;
        max-width: 360px;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.45rem;

        white-space: nowrap;
        overflow: hidden;

        padding-inline: clamp(1rem, 4.5vw, 2rem);
        padding-block: clamp(0.7rem, 2.5vw, 1rem);

        font-size: clamp(0.9rem, 3.4vw, 1.1rem);
    }

    .about-us__button-CTA__icon {
        flex: 0 0 auto;
        width: 0.9em;
        height: 0.9em;
    }


    /* OUR SERVICES   ///   OUR SERVICES   ///   OUR SERVICES   ///   OUR SERVICES   ///   */


    .our-services__main-grid {
        padding: 1rem 1rem;
    }

    .our-services__services-grid {
        list-style: none;
        padding: 0 0 2rem 0;
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1rem;
        row-gap: 2.5rem;
        grid-auto-rows: 1fr;
    }

    .our-services__item {
        gap: 0.5rem;
    }

    .our-services__section-title {
        margin-top: 0.5rem;
    }



    /* WHY PERMA   ///   WHY PERMA   ///   WHY PERMA   ///   WHY PERMA   ///   */

    .why-perma__main-grid {
        padding: 0 1rem 1rem 1rem;
    }


    .why-perma__section-title {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .why-perma__text {
        font-size: clamp(0.8rem, 4.5vw, 3rem);
    }


    .why-perma__reason-item {
        min-width: 300px;
    }


    .why-perma__CTA-button {
        width: 50vw;
        max-width: 360px;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.45rem;

        white-space: nowrap;
        overflow: hidden;

        padding-inline: clamp(1rem, 4.5vw, 2rem);
        padding-block: clamp(0.7rem, 2.5vw, 1rem);

        font-size: clamp(0.9rem, 3.4vw, 1.1rem);
    }

    .why-perma__CTA-button--img {
        flex: 0 0 auto;
        width: 0.9em;
        height: 0.9em;
    }



    /* SITE FOOTER   ///   SITE FOOTER   ///   SITE FOOTER   ///   SITE FOOTER   ///   */

    .site-footer {
        font-size: clamp(0.75rem, 3.2vw, 0.9rem);
        line-height: 1.35;
    }

    .site-footer__inner {
        margin-inline: 1rem;
        padding: 1rem 0;
    }

    .site-footer__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }



}