:root {

    /* COLORES */
    --color-primary: #3c5b49;
    --color-secondary: #a4c0af;
    --color-third: #74a7b0;

    /* MEDIDAS GENERALES */
    --gutter: 24px;
    /* padding lateral del container */
    --grid-gap: 24px;
    /* espacio entre columnas del grid */
}


body {
    margin: 0;
    min-height: 100vh;
    /* background: linear-gradient(110deg,
            #ffffff 0%,
            #c9c3c3 35%,
            #9c9fa2 70%,
            #7d8982 100%); */


    background: white;

}

p,
button,
a,
span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    border-radius: 50px;
    background-color: var(--color-secondary);
    border: none;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}


/* HEADER */

.site-header {
    width: 100%;


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition:
        background-color 0.3s ease,
        backdrop-filter 0.3s ease,
        -webkit-backdrop-filter 0.3s ease;

}

.site-header.is-scrolled {
    background-color: rgba(164, 192, 175, 0.409);
    /* #a4c0af */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.site-header__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 1.8rem 1.8rem; */

    padding-block: 1.8rem;
    padding-inline: 1.8rem;
    transition: padding-top 1.1s ease, padding-bottom 1.1s ease;

    min-height: 70px;
    position: relative;
}

.site-header.is-compact .site-header__inner {
    padding-block: 0.5rem;
}

.site-header__logo {
    height: 52px;
}

.site-header__logo-img {
    height: 52px;
    width: auto;
    margin-left: -0.5rem;
}

.site-header__toggle {
    display: none;
}

.site-nav {
    display: block;
    min-width: 0;
    position: relative;
    /* top: -0.6rem; */
}

.site-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav__link {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;

    /* border: 1px solid black; */
    padding: 0.4rem 0 0.4rem 1rem;
}












/*   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   ///   HERO   */

.hero {
    padding: 100px 1.8rem 0 1.8rem;
    margin-bottom: 1.5rem;
    /* margin-top: 1.5rem; */
}

.hero__grid {
    width: 100%;

    margin-inline: auto;
    /* padding-inline: 1.8rem; */

    padding-top: 1.8rem;

    border-top: 1px solid black;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.8rem;

    align-items: stretch;

    margin-bottom: 1rem;

}

.hero__left {
    /* columnas 1 a 6 (ocupa 6 columnas) */
    grid-column: 1 / span 6;

    display: flex;
    flex-direction: column;

    gap: 3rem;

    justify-content: space-between;

    height: auto;



}

.hero__texts-grid {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    /* justify-content: space-between; */
    height: 100%;
    flex: 1;
}

.hero__presentation {
    display: flex;
    flex-direction: row;
}

.hero__left--photo-container {
    flex: 1;
}

.hero__left--photo {
    width: 100%;
    height: 100%;
}




.hero__right {
    /* columnas 7 a 12 (ocupa 6 columnas) */
    grid-column: 7 / span 6;
    display: flex;
    justify-content: end;
}

.hero__right--photo {
    width: 100%;
    height: 100%;
    display: block;
}

.hero__motto {
    margin-left: auto;
    margin-right: 8rem;
    margin-top: 4rem;
    font-size: clamp(1.5rem, 1.5rem, 3rem);
}

.hero__presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.hero__CTA-button {
    padding: 1rem 2rem;
    /* background: transparent; */
    margin-top: 3rem;
    margin-right: 3rem;
    font-size: larger;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    white-space: nowrap;
}

.hero__CTA-button--icon {
    height: 1em;
    width: auto;
}

.hero__insight--container {
    height: 4rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.hero__insight-photo {
    z-index: -1;
    height: 10rem;
    width: auto;
    display: none;
}

.hero__insight {
    flex: 0 0 90%;
    /* height: 100%; */
    font-size: large;
    margin-top: 1.8rem;
    margin-bottom: 0;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero__insight--wrap {
    display: flex;
    flex-direction: column;
}

.hero_location {
    margin: 0.4rem 0;
    font-size: large;
}




/*   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   ABOUT US   ///   */

.about-us {
    width: 100%;
    margin-block: 1rem;
}

.about-us__grid {
    padding: 3rem 1.8rem 2rem 1.8rem;
    width: auto;
    margin-inline: 1.8rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.about-us__paragraph {
    padding: 1rem 6rem;
    font-size: larger;
    text-align: center;
}

.about-us__CTA-button {
    margin-inline: auto;
    padding-inline: 2rem;
    font-size: 1rem;
    background: transparent;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--color-secondary);
    white-space: nowrap;

    font-size: 1.25rem;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.about-us__button-CTA__icon {
    height: 1em;
    width: auto;
}


/* OUR SERVICES   ///   OUR SERVICES   ///   OUR SERVICES   ///   OUR SERVICES   ///   */


.our-services__main-grid {
    padding: 1rem 1.8rem;
}

.our-services__services-grid {
    list-style: none;
    padding: 0 0 1.8rem 0;
    margin: 3rem 0 1rem 0;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1.8rem;
    row-gap: 3rem;

    grid-auto-rows: 1fr;

    border-bottom: 1px solid black;
}

.our-services__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-width: 0;
}

.our-services__img-container {
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
}

.our-services__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.our-services__item-title {
    margin: 0;
}

.our-services__section-title{
    display: inline-flex;
}

.our-services__section-title--img{
    height: 0.8em;
    width: auto;
    align-self: center;
    margin-right: 1rem;
}







/*  WHY-PERMA   ///   WHY-PERMA   ///   WHY-PERMA   ///   WHY-PERMA   ///   WHY-PERMA   */

.why-perma__section-title{
    display: inline-flex;
}

.why-perma__section-title--img{
    height: 0.8em;
    width: auto;
    align-self: center;
    margin-right: 1rem;
}

.why-perma__main-grid {
    padding-inline: 1.8rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.why-perma__reasons-grid {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    overflow-x: scroll;
}

.why-perma__reason-item {
    border-right: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.5rem 0;
}

.why-perma__reason-title {
    white-space: nowrap;
    font-size: smaller;
}

.why-perma__reason-icon {
    height: 5rem;
}

.why-perma__text-container {
    display: flex;
    justify-content: flex-end;
}

.why-perma__text {
    text-align: right;
    display: block;
    /* para asegurar comportamiento de bloque */

    font-size: clamp(2rem, 4vw, 3.2rem);
    line-height: 1.1;

    max-width: 30ch;

    font-weight: 400;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.why-perma__values-list--container {
    padding: 0.5rem 3rem;
}

.why-perma__values-list {
    padding: 0 4.8rem;
    font-size: small;
}

.why-perma__CTA-button {
    margin-inline: auto;
    padding-inline: 2rem;
    font-size: 1rem;
    background: transparent;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--color-secondary);
    white-space: nowrap;

    font-size: 1.25rem;

    display: inline-flex;
    align-self: center;
    gap: 0.5rem;
}

.why-perma__CTA-button--img {
    height: 1em;
    width: auto;
}




/* FOOTER   ///   FOOTER   ///   FOOTER   ///   FOOTER   ///   FOOTER   ///   FOOTER   */

.site-footer {
    background-color: #a4c0af41;
}


.site-footer__inner {
    margin-inline: auto;
    gap: 2rem;
    padding: 2rem 7.8rem 2rem;
}

.site-footer__link {
    color: inherit;
    text-decoration: none;
}

.site-footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.site-footer__col--right {
    text-align: right;
}


.site-footer__bottom {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
}

.site-footer__social {
    /* height: 2rem; */
}

.site-footer__social-img {
    height: 2rem;
}







@media (max-width: 768px) {

    :root {
        --header-h: 105px;
        --hero-min-h: 600px;
        /* Jonite switches min-h around here */
        --hero-pb: 24px;
    }

    .site-header__toggle {
        display: block;
    }

    .site-nav {
        display: none;
    }

    .site-header__inner {
        padding: 0.8rem 1rem;
    }



}